.enlaces-contenido {
  display: flex;
  padding: 50px 100px;
  flex-direction: column;
}

.enlaces-articulo {
    margin-bottom: 100px;
}

.enlaces-subtitulo {
    @media (max-width: 1050px) {
        font-size: 14px;
    }
}

.enlaces-text {
    @media (max-width: 1050px) {
        font-size: 12px;
    }
}

.enlaces-link {
    color: rgb(76, 110, 136);
    text-decoration: none;
    font-style: italic;
    @media (max-width: 1050px) {
        font-size: 12px;
    }
}

.enlaces-link:hover {
    color: rgb(53, 87, 112);
}