<header>
  <div id="encabezado">
    <div id="logo">

    </div>
    <div id="titulo">
      
    </div>


  </div>

<nav class="contenedor-menu">
  <ul class="menu">
    <li class="menu-elemento menu-elemento-index">
      <a href="index.html">Portada</a>
    </li>
    <li class="menu-elemento menu-elemento-categoria">
      <a href="categoria.html">Categoría</a>
    </li>
    <li class="menu-elemento menu-elemento-presentacion">
      <a href="presentacion.html">Presentación</a>
    </li>
    <li class="menu-elemento menu-elemento-enlaces">
      <a href="enlaces.html">Enlaces</a>
    </li>
  </ul>
</nav>
</header>